<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Food</title>
    <link rel="icon" type="image/png" href= 'gofood.png' />
    <link rel="stylesheet" type="text/css" href="<%= URI("/style.css")%>">
    
  </head>

<body>
     <div class="topnav">
        <a class="active" href="/menus">Menus</a>
        <a href="/categories">Categories</a>
        <a href="/orders">Orders</a>
        <a href="/customers">Customers</a>
       <a href="/cart">Cart <span style="line-height:15px;word-spacing:-20px;">&#128722;
        <span style="color:white;font-size:16px;padding:2px;position:relative;top:-10px; border-radius: 40%;background: red"><%= cart%></span></span></a>
    
    </div>

    <h1 style="margin: 20px auto auto 280px;"><span><a href="/menus" class="button1 previous-btn">&#8249;</a>
        </span>&nbsp;
        Edit Food <%= item.name %></h1>
        <br><br>
    
    <form class="center form1" action="/edit/<%= item.id %>" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
        <img src ='data:image/jpeg;base64, <%= image %>' height='200' width=200' class='center'>
        <br><br>
        <input type="file" name="file" value="" id="file"> &emsp;
        <input type="checkbox" name="reqdelete" value="1">
        <label > Delete Image</label>
        <br><br>
        <label for="name">New Name : </label><br>
        <input type="text" name="name" value= "<%= item.name %>" required><br><br>
        <label for="price">New Price : </label><br>
        <input type="text"  name="price" value="<%= item.price %>" required><br><br>
        <label for="category">Category : </label><br><br>
        <% categories.each do | category | %>
            <input type="checkbox"  name="categoryid[]" value=<%=category.id%> >
            <label> <%= category.name %></label>
         <% end %>
        <br><br><br>
        <input type="submit" value="Submit" class="button button1">
    </form>
</body>

</html>