<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Food</title>
    <link rel="icon" type="image/png" href= 'gofood.png' />
    <link rel="stylesheet" type="text/css" href="<%= URI("/style.css")%>">
    
  </head>

<body>
     <div class="topnav">
        <a  href="/menus">Menus</a>
        <a href="/categories">Categories</a>
        <a href="/orders">Orders</a>
        <a href="/customers"  class="active">Customers</a>
       <a href="/cart">Cart <span style="line-height:15px;word-spacing:-20px;">&#128722;
        <span style="color:white;font-size:16px;padding:2px;position:relative;top:-10px; border-radius: 40%;background: red"><%= cart%></span></span></a>
    
    </div>

    <h1 style="margin: 20px auto auto 280px;"><span><a href="/customers" class="button1 previous-btn">&#8249;</a>
        </span>&nbsp;
        Edit Customer ID <%= customer.id %></h1>
        <br><br>
    
    <form class="center form1" action="/editcustomer/<%= customer.id %>" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
       
        <br><br>
        <label for="name">New Name : </label><br>
        <input type="text" name="name" value= "<%= customer.name %>" required><br><br>
        <label for="price">New Phone : </label><br>
        <input type="text"  name="phone" value="<%= customer.phone %>" required><br><br>
        
        <br><br>
        <input type="submit" value="Submit" class="button button1">
    </form>
</body>

</html>